.MainDivForCharacterList {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.mainBox {
  display: flex;
  flex-direction: column; /* Stack elements in a column on mobile */
  align-items: center; /* Center items horizontally on mobile */
  justify-content: space-between; /* Space out items in desktop view */
  width: 100%;
  padding: 10px 20px;
}

.logoBox {
  text-align: center;
  width: 100%;
  margin-bottom: 2;
}

.logo-text {
  font-family: 'Vectis Condensed', serif;
  font-size: 37px;
  color: silver;
  text-transform: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.backgroundMainDiv {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100vh;
  position: relative;
}

.searchBox {
  display: flex;
  justify-content: center; /* Default for mobile (small screens) */
  width: 100%;
  max-width: 400px;
  position: relative;
  right: -4px; /* Default for mobile (small screens) */
}

.backgroundImageDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/images/ThroneThree.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.contentCentered{
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 3;
}

.MuiGrid-item {
  padding: 2% !important;
}

.paginatedMainGrid {
  justify-content:center;
}

.redirect {
  text-decoration: none;
}

.imageContainerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.paginatedTypoForMain {
  color: white !important;
  margin-top: 1;
  text-align: center;
  font-size: 10px;
}

.characterCardExternal {
  width: 130px;
}

.imageContained {
  height: 119px;
}

/* Adjust layout for larger screens */
@media (min-width: 768px) { 
  .mainBox {
    flex-direction:row;
    align-items: center;
  }

  .logoBox {
    text-align:left;
    margin-bottom: 0;
  }

  .searchBox {
    justify-content: flex-end; /* Align right */
    right: 70px;
  }

  .logo-text {
    font-size: 48px;
  }

  .imageContained {
    height: 220px;
  }

  .paginatedTypoForMain {
    color: white !important;
    margin-top: 1;
    text-align: center;
    font-size: 22px;
  }

  .characterCardExternal {
    width: 100%
  }
}