.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    padding:20px;
}

.mainCard {
    max-width: 1200px;
    width:100%;
    padding:20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.backButton {
    margin-top: 20px !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    background-color:rgb(28 39 76) !important;
    color:white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

/* heading */
.h2tag {
    text-Align: center; 
    font-weight: bold;
    padding: 15px 0; 
    border-Bottom: 2px solid #ddd;
}

/* Character Details Section */
.character-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  .character-details {
    flex: 1;
    font-weight: bold;
    text-align: left;
  }

  .character-image {
    width: 200px;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
  }

  /* Refresh Button */
  .refresh-icon {
    padding: 5px;
    font-size: 20px;
    background-color:#1c274c;
    color: white;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    height:auto;
  }

    /* Related Family Members Section */
  .family-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
  }

  .record-button {
    padding: 5px 15px;
    font-size: 14px;
    background-color: #ddd;
    color: #555;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
  }

  /* Related Characters */
  .related-characters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 0 10px;
  }

  .related-character-card {
    cursor: pointer;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .related-character-image {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  /* Mobile View: Stack image & details */
  @media (max-width: 768px) {
    .character-container {
      flex-direction: column;
      text-align: center;
    }

    .character-image {
      width: 100%;
      height: auto;
    }

    .refresh-icon {
        padding: 10px;
        font-size: 31px;
        background-color:#1c274c;
        color: white;
        border: none;
        border-radius: 20%;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-right: 15px;
        height:auto;
    }
  }